<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage cacheDirectory="tmp/phpunitCache/"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">resources</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">Docker</directory>
            <directory suffix=".php">logs</directory>
            <directory suffix=".php">templates</directory>
            <directory suffix=".php">tmp</directory>
        </exclude>
    </coverage>
    <logging>
        <log type="coverage-html" target="tests/reports/codeCoverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="tests/reports/codeCoverage/coverage.xml"/>
        <log type="coverage-php" target="tests/reports/codeCoverage/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="tests/reports/junit/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="tests/reports/dox/testdox.html"/>
        <log type="testdox-text" target="tests/reports/dox/testdox.txt"/>
        <junit outputFile="tests/reports/junit/test.xml"/>
        <testdoxHtml outputFile="tests/reports/dox/testdox.html"/>
        <testdoxText outputFile="tests/reports/dox/testdox.txt"/>
    </logging>
    <testsuites>
        <testsuite name="slim4api">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
