<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage cacheDirectory="./tmp/phpunitCache/"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="tests/reports/codeCoverage/clover.xml"/>
            <crap4j outputFile="tests/reports/codeCoverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="tests/reports/codeCoverage" lowUpperBound="35" highLowerBound="70"/>
            <php outputFile="tests/reports/codeCoverage/coverage.php"/>
            <text outputFile="tests/reports/codeCoverage/coverage.txt" showUncoveredFiles="false"
                  showOnlySummary="false"/>
            <xml outputDirectory="tests/reports/codeCoverage/xml-coverage"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">resources</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">Docker</directory>
            <directory suffix=".php">logs</directory>
            <directory suffix=".php">templates</directory>
            <directory suffix=".php">tmp</directory>
        </exclude>
    </coverage>
    <logging>
        <junit outputFile="tests/reports/junit/junit.xml"/>
        <text outputFile="tests/reports/logfile.txt"/>
    </logging>
    <testsuites>
        <testsuite name="slim4api">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
