<?php

use Monolog\Logger;

// Error reporting for development
error_reporting(E_ALL);
ini_set('display_errors', '1');
$display_error_details = true;

// Error reporting for production
// error_reporting(0);
// ini_set('display_errors', '0');
// $display_error_details = false;

// Set default timezone to Europe/Paris if PHP 5.4 // Keep this a very first data loaded by PHP
if (@function_exists('date_default_timezone_set') && @function_exists('date_default_timezone_get')) {
    @date_default_timezone_set(@date_default_timezone_get());
}
if (version_compare(PHP_VERSION, '5.4.0') >= 0) {
    date_default_timezone_set('Europe/Paris');
}

// Settings
$settings = [];

// Redirection to another host/port
$settings['redirection'] = [
    'port' => 8080,
    'servername' => 'localhost',
];

// API Name and version
$settings['api'] = [
    'name' => 'slim4api',
    'version' => '0.90',
    'url' => 'https://localhost:8080',
    'testpage' => 'testapi.html',
    'build' => '2020-09-24',
    'endpoints' => [
        '/status' => 'Get /status same as Get /',
        '/hello' => 'Get, Get /{name}',
        '/users' => 'Get, Get /id/{id], Post /id/{id], Put /id/{id], Delete /id/{id], Get /search/{keyword}',
        '/customers' => 'Get, Get /id/{id], Post /id/{id], Put /id/{id], Delete /id/{id], Get /search/{keyword}',
        '/doc/v1' => 'Get (Swager)',
        '/tokens' => 'Post (Login)',
        '/logout' => 'Get',
        '/cleanup' => 'Get',
    ],
];

// Path settings
$settings['root'] = dirname(__DIR__);
$settings['temp'] = $settings['root'] . '/tmp';
$settings['public'] = $settings['root'] . '/public';

// CORS
// https://www.slimframework.com/docs/v4/cookbook/enable-cors.html
$settings['cors'] = '*';

// JWT Java Web Token
// https://odan.github.io/2019/12/02/slim4-oauth2-jwt.html
$settings['jwt'] = [
    // The issuer name
    'issuer' => 'www.slim4api.com',
    // Max lifetime in seconds
    'lifetime' => 14400, // 14400 seconds = 4 hours (86400 = 24 hours)
    // Log logins & tokens param
    'loglogins' => true, // true or false
    'logtokens' => true, // true or false (to keep stateless)
    'retention' => 60 * 60 * 24 * 30, // Loglogins cleanup 30 days (logtokens awlays upon expiration)
    // The private key
    'private_key' => '-----BEGIN RSA PRIVATE KEY-----
...paste you key here...
-----END RSA PRIVATE KEY-----',
    // The public key
    'public_key' => '-----BEGIN PUBLIC KEY-----
...paste you key here...
-----END PUBLIC KEY-----',
];































// Database settings
$settings['db'] = [
    'driver' => 'mysql',
    'host' => 'localhost',
    'database' => 'slim4api',
    'username' => 'userslim',
    'password' => 'Secr3t',
    'charset' => 'utf8mb4',
    'collation' => 'utf8mb4_unicode_ci',
    'defaultPage' => '1',
    'defaultPageSize' => '50',
    'defaultSearchFieldUser' => [
        ['User name', 'USRNAME'],
        ['First name', 'USRFIRSTNAME'],
        ['Last name', 'USRLASTNAME'],
        ['Email', 'USREMAIL'],
        ['Profile', 'USRPROFILE'],
        // ['Profile', 'USRPROFILE', ['Users', 'Customers', 'Products', 'Stocks']], for later use with ctrl of allowed values
    ],
    'defaultSearchFieldCustomer' => [
        ['Customer name', 'CUSNAME'],
        ['Address', 'CUSADDRESS'],
        ['City', 'CUSCITY'],
        ['Phone', 'CUSPHONE'],
        ['Email', 'CUSEMAIL'],
    ],
    'flags' => [
        // Turn off persistent connections
        PDO::ATTR_PERSISTENT => false,
        // Enable exceptions
        PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
        // Emulate prepared statements
        PDO::ATTR_EMULATE_PREPARES => true,
        // Set default fetch mode to array
        PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC,
        // Set character set
        PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci',
    ],
];

// Error Handling Middleware settings
$settings['error'] = [
    // Should be set to false in production
    'display_error_details' => $display_error_details,

    // Parameter is passed to the default ErrorHandler
    // View in rendered output by enabling the "displayErrorDetails" setting.
    // For the console and unit tests we also disable it
    'log_errors' => true,

    // Display error details in error log
    'log_error_details' => true,
];

// Logger settings
$settings['logger'] = [
    'display_error_details' => $display_error_details,
    'log_errors' => true,
    'log_error_details' => true,
    'name' => 'Monologer/logger',
    'path' => __DIR__ . '/../logs/',
    'file_permission' => 0775,
    'level' => Logger::DEBUG,
];

// Twig
$settings['twig'] = [
    'path_templates' => __DIR__ . '/../templates/',
    'path_cache' => __DIR__ . '/../tmp/views/',
];

// Trailing slash
$settings['trail'] = false;

return $settings;
